@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot');
  src:  url('../fonts/icomoon.eot#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf') format('truetype'),
    url('../fonts/icomoon.woff') format('woff'),
    url('../fonts/icomoon.svg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon-menu:before {
  font-family: 'icomoon' !important;
  content: "\e9bd";
  float: right;
  font-size: 30px;
  }

.icon-home:before {
  font-family: 'icomoon' !important;
  content: "\e900";
  font-size: 1 em;
}

.icon-address-book:before {
  font-family: 'icomoon' !important;
  content: "\e971";
  font-size: 1 em;
}

.icon-twitter3:before {
  font-family: 'icomoon' !important;
  content: "\ea96";
  font-size: 1 em;
}

.icon-github:before {
  font-family: 'icomoon' !important;
  content: "\eab0";
  font-size: 1 em;
}
