/* Body */
body {
  color: #eee;
  background-color: #444;
}

a {
    color: lightblue;
    text-decoration: none;
}

/* Navigation */
.nav-main li {
  margin-right: .6em;
  font-size: 1 em;
  padding: .9em .5em;
  border-bottom: 1px solid #EEE;
}

/* Header */
.page-header {
  background-image: url('../images/banner.jpg');
  background-position: center;
}

.intro {
  padding: 40px;
}

#name {
  font-family: 'Lobster Two', cursive;
  font-size: 30px;
  padding-bottom: 10px;
  }

#bio {
  font-family: 'Lobster Two', cursive;
  font-size: 15px;
  padding-bottom: 20px;
  }
