/* Navigation for larger screens */
@media (min-width:700px) {
  .icon-menu {
     display:none;
  }
  .nav-main ul {
     display:block;
  }
  .nav-main li {
     display:inline;
     padding: 0 5%;
     border-bottom: none;
  }
}

@media (max-width:699px) {
  #nav-menu {
    display: none;
  }

  .nav-main:hover #nav-menu {
    display: block;
  }
}
