/* Navigation for larger screens */
@media (min-width:700px) {
  #hamburger {
     display:none;
  }
  .nav-main ul {
     display:block;
  }
  .nav-main li {
     display:inline;
     padding: 0 5%;
     border-bottom: none;
  }
}
