
.nav-main li {
  margin-right: .6em;
  font-size: 1.8em;
  padding: .7em .2em;
  border-bottom: 2px solid #EEE;
}

@media (min-width:700px) {
  nav .icon-menu {
     display:none;
  }
  .nav-main ul {
     display:block;
  }
  .nav-main li {
     display:inline;
     padding: 0 5%;
     border-bottom: none;
  }
}

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot');
  src:  url('../fonts/icomoon.eot#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf') format('truetype'),
    url('../fonts/icomoon.woff') format('woff'),
    url('../fonts/icomoon.svg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon-home:before {
  font-family: 'icomoon' !important;
  content: "\e900";
}

.icon-menu:before {
  font-family: 'icomoon' !important;
  content: "\e9bd";
  float: right;
  font-size: 30px;
}

.icon-address-book:before {
  font-family: 'icomoon' !important;
  content: "\e971";
}

.icon-twitter3:before {
  font-family: 'icomoon' !important;
  content: "\ea96";
}

.icon-github:before {
  font-family: 'icomoon' !important;
  content: "\eab0";
}
